<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <title>The Stock Similarity Scorer</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>
  <header>
    <h1>The Stock Similarity Scorer</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <h2> About </h2>

    <p1 style= "line-height: 1.7"> This project was the dual responsibility of Nick Aquisto and Peter Majors, both seniors at 
      Fordham's Gabelli School of Business. It was our final project for Professor Daniel Groner's 
      Advanced Python For Business course, which required us to use much of the techniques learned 
      over the course of the semester. </p1><br><br>
      
    <Our style= "line-height: 1.7"> Our original intentions were to design a simple terminal-based program 
      to compare the performance of two stocks in the S&P500 and then calculate a "similarity score" based 
      on their data. Thanks to yFinance and Flask, we were able to develop a frontend that pulls live stock
      data and creates comprehensive reports for users.  </p1>
    
  </main>
</body>
</html>
